.error-message {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background: #fd612ead;
  color: white;
  border-radius: 8px;
  max-width: 300px;
  z-index: 2;
}
